---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Backend/Infrastructure engineer with 7 years of experience in manufacturing × IT.
        <br />
        My primary tools:
      </p>
      <ul class="list-disc list-inside">
        <li>TypeScript / Python / Rust</li>
        <li>NestJS / Django</li>
        <li>GCP / Terraform</li>
        <li>PostgreSQL / Elasticsearch</li>
        <li>GitHub Actions / ArgoCD</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Currently studying Computer Science at University of London (online).
    </p>
    <p class="text-sm font-light">
      I enjoy building new products from scratch and optimizing system performance.
    </p>
  </div>
</Card>
