---
import Card from "./Card/index.astro";
import GlobeMini from "./GlobeMini.tsx";
---

<Card
  colSpan="lg:col-span-1"
  rowSpan="md:row-span-1"
  href="/countries"
  title="Countries I visited"
  colorText="text-neutral-900"
>
  <div class="h-full w-full absolute inset-0 -z-10">
    <GlobeMini client:load />
  </div>
</Card>
