---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2 lg:row-start-7 lg:col-start-1" href="/hobbies" title="Hobbies">
  <ul class="flex flex-col gap-1 text-sm text-gray-400">
    <li>Marathon / Trail Running</li>
    <li>Cooking</li>
    <li>Band</li>
  </ul>
</Card>
