---
import Card from "./Card/index.astro";
import { Icon } from "astro-icon/components";
---

<Card colSpan="lg:col-span-1" rowSpan="md:row-span-1">
  <a
    href="/projects"
    class="flex items-center justify-between w-full h-full group"
  >
    <span class="text-xl font-medium">Projects</span>
    <Icon
      name="ri:arrow-right-up-line"
      class="w-5 h-5 text-gray-400 group-hover:text-white transition-colors group-hover:translate-x-0.5 group-hover:-translate-y-0.5 transition-transform"
    />
  </a>
</Card>
